@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="overlay"></div>
    <div class="inner">
        <h1>Simply the best.</h1>
        <p class="lead"> Great value car insurance from Costa's Car Insurance.</p>
        <p><a href="@Url.Action("Create", "Insuree")" class="btn btn-success btn-lg">GET A QUOTE &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Getting started</h2>
        <p>
            Getting started is as simple as clicking the button below. Complete the form and you will get a quote in secconds.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Insuree")">Let's start &raquo;</a></p>
    </div>
</div>